
.form-group {
    display: inline-block;
}    

 button[disabled] {
     cursor:not-allowed;
 }
 select::-ms-expand {
            width:12px;
            border:none;
            background:#fff;
        }
button {
    margin-right: 15px;

}

.form-group {
     margin-right: 15px;
}
.form-control-inline {
    min-width: 0;
    width: auto;
   
    display: inline;
}


.form-control{
    margin-right:20px
} 