@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Patient Rule</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="~/assets/css/final.css">

    <!--[if lt IE 9]>
    <script src="~/app/js/shims/es5-shim.min.js" type="text/javascript"></script>
     <script src="~/app/js/shims/es5-sham.min.js" type="text/javascript"></script>
     <script src="~/app/js/shims/console.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body>
    <div id="body"></div>
    <script src="~/app/js/worklist.js"></script>
</body>
</html>
